.panda-bg-info{
    background-color: #fceae8;
}
.catagories img{
    width: 100px;
}
.panda-btn-bg-byenow{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}